
.message-modal {
  visibility: hidden;
  display: flex;
  position: absolute;
  bottom: 75%;
  right: 41px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 6px;
  z-index: 25;
  background: white;
 
}

.message-modal:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  border-color: rgba(0,0,0,.3);
}

.message-icon {
  color: rgb(134,134,134);
  padding: 5px 10px;
  box-sizing: border-box;
  border-left: 1px solid rgb(210,210,210);
}
