
.message-modal {
  visibility: hidden;
  display: flex;
  position: absolute;
  bottom: 75%;
  right: 41px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 6px;
  z-index: 25;
  background: white;
 
}

.message-modal:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  border-color: rgba(0,0,0,.3);
}

.message-icon {
  color: rgb(134,134,134);
  padding: 5px 10px;
  box-sizing: border-box;
  border-left: 1px solid rgb(210,210,210);
}

.message-modal .hidden {
    position: absolute;
    visibility: hidden;
  }

.post-container .hidden {
  visibility: hidden;
  position: absolute;
}

.modal-menu {
  visibility: visible;
  position: absolute;
  background-color: white;
  border: 1px solid rgb(134, 134, 134);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  overflow: hidden;
  box-shadow: 0 0 0 1px rgba(0,0,0,.08), 0 4px 12px 0 rgba(0,0,0,.12);
  z-index: 1025;
  color: #1d1c1d;
  overflow-x: hidden;
  overflow-y: auto;
  width: 270px;
  max-height: calc(100vh - 99px);
  right: 40px;
  top: 0px;
}

.modal-menu ul {
  margin: 0;
  padding: 0;
}

.message-menu-list {
  list-style: none;
  margin: 0;
  padding: 0 24px;
}

.modal-back {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.00)
}