.splash-head {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 44px;
}

.logo {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  padding: 22px 0;
}

.nav-links {
  display: flex;
  align-items: center;
}
.nav-links li {
  list-style: none;
}

.nav-links ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row;
}

.navlink {
  text-decoration: none;
  color: #454545;
  font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.navlink a {
  text-decoration: none;
  color: #454545;
}

.head-right {
  margin-left: auto;
}

.signup {
  display: inline-block;
  background-color: #611f69;
  padding: 12px 16px;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
  font-weight: 700;
  letter-spacing: .8px;
  font-size: 14px;
  text-decoration: none;
  color: white;
  margin: 0 44px;
}
